{{&projectName}}
=====================

Node-RED node for {{&nodeName}}

[Official Meraki API Docs](https://create.meraki.io/api)

Install
-------

Run the following command in your Node-RED user directory - typically `~/.node-red`
        
        npm install git+https://github.com/dexterlabora/node-red-contrib-meraki-dashboard-api

# About
-------     

{{&description}}

Install
-------

Run the following command in your Node-RED user directory - typically `~/.node-red`

        npm install {{&projectName}}


## Methods

{{#methods}}
### {{&methodName}} 

> {{&summary}}

*Example Response*

 ```
 {{&exampleString}}
 ```
  
    

   

  

{{/methods}}

